<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #3b569d;">
      <mat-panel-title>
        Test-1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perferendis mollitia nam quod aspernatur, repellendus maxime numquam ea error dignissimos magni totam natus ipsam corporis dolorum quae voluptatem, vero molestiae!</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #dc1a5a">
      <mat-panel-title>
        Test-2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perferendis mollitia nam quod aspernatur, repellendus maxime numquam ea error dignissimos magni totam natus ipsam corporis dolorum quae voluptatem, vero molestiae!</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #56acee;">
      <mat-panel-title>
        Test-3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perferendis mollitia nam quod aspernatur, repellendus maxime numquam ea error dignissimos magni totam natus ipsam corporis dolorum quae voluptatem, vero molestiae!</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #fc211f;">
      <mat-panel-title>
        Test-4
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perferendis mollitia nam quod aspernatur, repellendus maxime numquam ea error dignissimos magni totam natus ipsam corporis dolorum quae voluptatem, vero molestiae!</p>
  </mat-expansion-panel>
</mat-accordion>